
.links-containter {
    display:flex;
    direction:ltr;
    justify-content:flex-end;
    padding: 10px;

    :hover {
        color: darkred;
        transform: scale(1.03)
    }
}

.navlink {
    font-size: 2em;
    padding: 10px;   
}

.nav-container {
    display:flex;
    justify-content:space-between;
    margin-bottom: 1em;
    
}